<app-navigation></app-navigation>
 
 <!-- Page Container -->
 <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px;min-height:700px">    
   <!-- <app-dashboard-display></app-dashboard-display> -->
   <router-outlet></router-outlet>
 <!-- End Page Container -->
 </div>
 <br>
 
 <!-- Footer -->
 <!-- <footer class="w3-container w3-theme-d3 w3-padding-16">
   <h5>Footer</h5>
 </footer> -->
 
 <footer class="w3-container w3-theme-d5">
   <p>Powered by <a href="#" target="_blank">Tech Code Lib Team</a></p>
 </footer>