<div class="container">
  <div class="w3-row">
    <div class="w3-col w3-row-padding w3-twothird w3-hide-small">
      <div class="w3-card">
        <header class="w3-theme-d2">
          <div class="w3-container">
            <h2>Welcome users!</h2>
          </div>
        </header>
        <div class="w3-container">
          <div class="w3-row">
            <div class="col-md-12">
              <p>The Tech-Code-Lib portal provides our users a huge library of code samples, tech tutorials and courses with an easy and practical way of learning
                . Enjoy the benefits of learning programming technologies.</p>

              <p>Having trouble logging in or don’t know your access credentials? Please reach out to your support representative for your user login and password.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w3-col w3-row-padding w3-third w3-hide-small">
      <app-login></app-login>
    </div>
  </div>
</div>